<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Exercícios</title>

</head>
<body>
	<h1 id="titulor">Exercícios</h1>

	<!-- Tabela com os exercícios -->
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Descrição</th>
				<th>Séries</th>
				<th>Repetições</th>
				<th>Descanso (s)</th>
			</tr>
		</thead>
		<tbody>
			<!-- Loop para exibir cada exercício do banco de dados -->
			<script>
				const exercises = [
				  {
				    "name": "Supino reto",
				    "description": "Deite no banco e levante a barra até a extensão total dos braços.",
				    "sets": 4,
				    "reps": 10,
				    "rest": 60
				  },
				  {
				    "name": "Agachamento",
				    "description": "Posicione a barra atrás do pescoço e agache até as pernas formarem um ângulo de 90 graus.",
				    "sets": 3,
				    "reps": 12,
				    "rest": 90
				  },
				  {
				    "name": "Levantamento terra",
				    "description": "Agache e segure a barra com as mãos. Levante a barra até a extensão total dos braços.",
				    "sets": 3,
				    "reps": 8,
				    "rest": 120
				  }
				];

				for (let i = 0; i < exercises.length; i++) {
					const exercise = exercises[i];
					document.write(`
						<tr>
							<td>${exercise.name}</td>
							<td>${exercise.description}</td>
							<td>${exercise.sets}</td>
							<td>${exercise.reps}</td>
							<td>${exercise.rest}</td>
						</tr>
					`);
				}
			</script>
		</tbody>
	</table>
</body>
</html>
