
<main>
    <article id="sobre">
        <h2>Sobre nós</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget dictum augue. Donec eget bibendum erat.
            Donec finibus, nisl eget posuere vulputate, sem purus ultrices ante, id convallis velit sapien a neque.</p>
    </article>

    <article id="servicos">
        <h2>Serviços</h2>
        <ul>
            <li>Academia de musculação</li>
            <li>Aulas de dança</li>
            <li>Aulas de artes marciais</li>
            <li>Aulas de ioga</li>
        </ul>
    </article>

    <article id="precos">
        <h2>Preços</h2>
        <p>Entre em contato conosco para obter informações sobre nossos preços e planos de assinatura.</p>
    </article>

    <article id="contato">
        <h2>Contato</h2>
        <ul>
            <li>Endereço: Rua Principal, 123</li>
            <li>Telefone: (11) 5555-5555</li>
            <li>Email: contato@minhaacademia.com.br</li>
        </ul>
    </article>
</main>